/* Global Style */
body {
    font-size: 14px;
    font-weight: 400;
    background-color: #f8f8f8;
    font-family: 'Roboto', 'Nanum Gothic', sans-serif;
}

.h1-font-size { font-size: 4.5em;   font-weight: 900; }
.h2-font-size { font-size: 3.7em;   font-weight: 800; }
.h3-font-size { font-size: 3.1em;   font-weight: 700; }
.h4-font-size { font-size: 2.3em;   font-weight: 600; }
.h5-font-size { font-size: 1.8em;   font-weight: 500; }
.h6-font-size { font-size: 1.3em;   font-weight: 500; }
.s1-font-size { font-size: 0.9em;   font-weight: 400; }
.s2-font-size { font-size: 0.8em;   font-weight: 400; }
.s3-font-size { font-size: 0.8em;   font-weight: 400; }

h1 { font-size: 4.5em;   font-weight: 900; }
h2 { font-size: 3.7em;   font-weight: 800; }
h3 { font-size: 3.1em;   font-weight: 700; }
h4 { font-size: 2.3em;   font-weight: 600; }
h5 { font-size: 1.8em;   font-weight: 500; }

.btn-width-100 { width: 100px; }

.dialog_background { background-color: #fceb7e; }

/* Menu */
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(250, 203, 49);
}
.navbar.bg-dark {
    color: #fefefe;
    background-color: #040404 !important;
    border: 1px solid #282828;
}

.navbar-dark .navbar-nav > li.active {
    color: #f8f8f8;
    background: #101010 !important;
}
.navbar-dark .navbar-nav > li.active > a,
.navbar-dark .navbar-nav > li.active > a:hover,
.navbar-dark .navbar-nav > li.active > a:focus {
    color: #f8f8f8;
}

/* Side menu */
.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 96px);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    font-size: 1em;
    background-color: #1B5E20;
}
.sidebar ul li a {
    display: block;
    padding: .15rem 0.85rem;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
    background: rgba(0, 0, 0, .25);
}
.sidebar ul li a:hover, .sidebar ul li.active a {
    color: rgba(255, 255, 255, 1.0);
    background: rgba(0, 0, 0, .9);
}
.sidebar ul ul a {
    padding-left: 2.1rem;
    background: rgba(0, 0, 0, .55);
}
.sidebar ul ul ul a {
    padding-left: 3rem;
    background: rgba(0, 0, 0, .8);
}
.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar ul [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar ul ul [aria-expanded="true"] {
    background: rgba(0, 0, 0, .55);
}
.sidebar ul ul ul [aria-expanded="true"] {
    background: rgba(0, 0, 0, .8);
}
.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}
.sidebar.toggled {
    margin-left: -250px;
}
@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}
.sidebar .input-group {
    margin: 15px;
}
.sidebar #inputSearch {
    max-width: 180px;
}

.sidebar ul.memberDetail {
    display: block;
    padding: .5rem .5rem;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

/* Top Button */
#topButton {
    width: 50px;
    height: 50px;
    font-size: 18px;
    line-height: 1;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 1em;
    padding: 15px;
}

/* Button Color */
.btn.btn-primary, .badge.badge-primary {
    background-color: #1967be;
    color: #ffffff;
    border: 1px solid #1967be;
}
.btn.btn-primary:hover, .badge.badge-primary:hover {
    background-color: #0a4b93;
    color: darkgrey;
    border: 1px solid #0a4b93;
}
.btn.btn-secondary, .badge.badge-secondary {
    background-color: #555555;
    color: #ffffff;
    border: 1px solid #555555;
}
.btn.btn-secondary:hover, .badge.badge-secondary:hover {
    background-color: #252525;
    color: darkgrey;
    border: 1px solid #252525;
}
.btn.btn-success, .badge.badge-success {
    background-color: #74af00;
    color: #ffffff;
    border: 1px solid #74af00;
}
.btn.btn-success:hover, .badge.badge-hover {
    background-color: #456701;
    color: darkgrey;
    border: 1px solid #456701;
}
.btn.btn-info, .badge.badge-info {
    background-color: #9631c9;
    color: #ffffff;
    border: 1px solid #9631c9;
}
.btn.btn-info:hover, .badge.badge-info:hover {
    background-color: #591979;
    color: darkgrey;
    border: 1px solid #591979;
}
.btn.btn-warning, .badge.badge-warning {
    background-color: #ff7700;
    color: #ffffff;
    border: 1px solid #ff7700;
}
.btn.btn-warning:hover, .badge.badge-warning:hover {
    background-color: #9c5301;
    color: darkgrey;
    border: 1px solid #9c5301;
}
.btn.btn-danger, .badge.badge-danger {
    background-color: #cc0000;
    color: #ffffff;
    border: 1px solid #cc0000;
}
.btn.btn-danger:hover, .badge.badge-danger:hover {
    background-color: #860202;
    color: darkgrey;
    border: 1px solid #860202;
}

thead {
    color: #fefefe;
    background-color: #101010;
    font-weight: normal;
}

table > thead > tr > th, table > tbody > tr > td {
    font-weight: normal;
}
table.table-bordered {
    border:1px solid #808080;
}
table.table-bordered > thead > tr > th {
    border:1px solid #a0a0a0;
}
table.table-bordered > tbody > tr > td {
    border:1px solid #a0a0a0;
}

.modal {
    overflow: hidden;
}
.modal-header {      /* not necessary but imo important for user */
    cursor: move;
}

.hide {
    display:none;
}

/**
* Get rid of bootstrap table detail view plus icon
*/
#history_table thead > tr > th.detail,
#visit_table thead > tr > th.detail,
#history_table tbody > tr:not(.detail-view) > td:first-of-type,
#visit_table tbody > tr:not(.detail-view) > td:first-of-type {
    display: none;
}

#history_table thead > tr > th:nth-child(2),
#visit_table thead > tr > th:nth-child(2),
#history_table tbody > tr:not(.detail-view) > td:nth-child(2),
#visit_table tbody > tr:not(.detail-view) > td:nth-child(2) {
    border-left: none!important;
}

/**
* Validation Error
*/
.validation_error{
	display: none;
	margin-left: 10px;
}

.validation_error_show{
	color: red;
	margin-left: 10px;
}
